.box-shadow-one {
  width: 300px;
  height: 320px;
  background: #ccc;
  box-shadow: 10px 0 4px -4px rgba(0, 0, 0, .5); /*тень справа*/
  margin-bottom: 30px;
}
.box-shadow-two {
  width: 300px;
  height: 320px;
  background: #ccc;
  box-shadow: 0 10px 4px -4px rgba(0, 0, 0, .5); /*тень снизу */
  margin-bottom: 30px;
}

.box-shadow-tree {
  width: 300px;
  height: 320px;
  background: #ccc;
  box-shadow: 8px 8px 6px -3px rgba(0, 0, 0, .5); /* */
  margin-bottom: 30px;
}

.box-shadow-four {
  width: 300px;
  height: 320px;
  background: #ccc;
  box-shadow: 8px 0px 6px -5px rgba(0, 0, 0, .5),
              -8px 0px 6px -5px rgba(0, 0, 0, .5);/* */
  margin-bottom: 30px;
}