.button {
  padding: 6px 16px;
  border: 1px solid #446d88;
  background: #58a linear-gradient(#77a0bb, #58a);
  border-radius: 4px;
  box-shadow: 0 1px 5px gray;
  color: white;
  text-shadow: 0 -1px 1px #335166;
  font-size: 125%;
  line-height: 1.5;
}
.callOut {
  position: relative;
  background: #000;
}
.callOut::before {
  content: '';
  position: absolute;
  top: -.4em; left: 1em;
  padding: .35em;
  background: inherit;
  border-right: 0;
  border-bottom: 0;
  transform: rotate(45deg);
}